<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">

    <title>Verzonden</title>
</head>
<body>
    <h3>Je enquête is verzonden!</h3>
    <p>Bedankt voor het invullen van de pagina, <%- data.naam %>!</p>

    <section>
        <h3>Jouw antwoorden</h3>

        <TABLE BORDER="1">
            <TR> <TH></TH>      <TH>Moeilijkheid</TH>                   <TH>Uitleg</TH>                 <TH>Snappen</TH>                <TH>cijfer</TH></TR>
            <TR> <TD>Vak 1</TD> <TD><%- data['1-moeilijk'] %></TD> <TD><%- data['1-uitleg'] %> </TD> <TD><%- data['1-snappen']%></TD> <TD><%- data['1-cijfer']%></TD></TR>
            </TABLE>
    </section>

</body>
</html>